.myStyle
{
    width:100%;
    height:25px;
    float:left;
    background-color:#313131;
}
.opDay
{
    width:19%;
    height:100%;
    float:left;
    text:{
        align:center;
    }
    color:#e8e8e8;
    font:{
        size:12px;
    }
    border:{
        right:1px solid grey;
    }
    line-height:25px;
}